---
layout: default
title: Wix - RN Open Source

---
{% include JB/setup %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>


{% for component in site.components %}
  <div style="{% if component.paralax %}background-image: url({{component.paralax}}{% endif %});"class="{% if component.paralax %}paralax-container{% else %}component-container{% endif %}">
    {% if component.title %}<img class="dash-title" src="{{ ASSET_PATH }}/images/{% if component.paralax %}white_{% endif%}dash.png" /> {% endif %}
    <div class="page-title-header" id="{{ component.title }}">
      <h1 class="page-title-header-text">{{ component.title }}</h1>
    </div>
    <div class="component-content">
        {% include components/{{component.file}} %}
        {% if component.buffer %}
        <img class="buffer" src="{{ ASSET_PATH }}/images/buffer.png" />
        {% endif %}
    </div>
  </div>

{% endfor %}
