<div class="footer-container">
  <div class="wix-footer">
      <div class="subscribe-container">
        <p>
          Find out what’s coming up at <b>Wix Engineering</b>:
        </p>
        <p>
           Subscribe to our newsletter for updates, events and more.
        </p>
        <a target="_blank" href=https://docs.google.com/a/wix.com/forms/d/1NxFkYfLWJ4BI4tNYD_6BVDppDIv2NL8RPlRzrt8iIso/viewform?entry.2005620554&entry.1045781291&entry.1166974658&entry.104407554&entry.1952854462=I%27m+cool+with+you+sending+me+emails+about+stuff.>
          <div class="subscribe-button">
              Subscribe
          </div>
        </a>
      </div>
      <div>
          <div class="footer-links-container">
            <ul class="links-list">
                <a href="http://www.wix.com/drorb7/github-io-template/about"><li>About</li></a>
                <a href="http://engineering.wix.com/"><li>Blog</li></a>
                <a href="http://www.wix.com/drorb7/github-io-template"><li>Open Source</li></a>
                <a href="https://www.youtube.com/user/WixTechTalks"><li>Video</li></a>
                <a href="http://www.wix.com/drorb7/github-io-template/events"><li>Events</li></a>
                <a href="http://www.wix.com/jobs/home"><li>Jobs</li></a>
            </ul>
            <ul class="links-list">
                <a href="https://twitter.com/WixEng"><li>Twitter</li></a>
                <a href="https://www.youtube.com/user/WixTechTalks"><li>YouTube</li></a>
                <a href="https://github.com/wix"><li>Github</li></a>
                <a href="http://www.meetup.com/at-wix/"><li>Meetup</li></a>
                <a href="https://dev.wix.com/"><li>Wix Dev</li></a>
                <a href="http://www.wixkickstart.com/"><li>Wix Kickstart</li></a>
            </ul>
          </div>
      </div>
      <div class="email-container">
          <a href="https://wix.com" target="_blank"><img src="https://static.wixstatic.com/media/9ab0d1_382cbda7c1824140b9eea75d826873f2.png/v1/fill/w_95,h_22,al_c,q_80,usm_0.66_1.00_0.01/9ab0d1_382cbda7c1824140b9eea75d826873f2.png" /></a>
          <p>
            At Wix Engineering we develop some of the most innovative cloud-based web applications that influence our 80+ million users worldwide.
          </p>
          <p>
              Have any questions? Email academy@wix.com.
          </p>
      </div>
  </div>

</div>
