<div class="declerative-container">
  <div class="declerative-text">
    <h3>A Fully Production Open Source Projects</h3>
    <p>
      I'm a paragraph. Click here to add your own text and edit me. It's easy. I'm a paragraph. Click here to add your own text and edit me. It's easy. I'm a aragraph. Click here to add your own text and edit me. It's easy. 'm a paragraph. Click here to add your own text and edit me. It's easy. I'm a paragraph. Click here to add your own text and edit me. It's easy. I'm a aragraph. Click here to add your own text and edit me. It's easy.
    </p>
    <p>
      And the most amazing thing is that we use our open source projects in the official Wix App! You can download the Wix App from the <a href="">App Store</a> And <a href="">Google Play</a>.
    </p>
  </div>
  <div class="declerative-image-container">

    <img class="declerative-image" src="{{ ASSET_PATH }}/images/demo.gif" />

  </div>
</div>
