<div class="preview-section">
  <div class="declerative-text">
    <h3>A Fully Production Open Source Projects</h3>
    <p>
      All of our open source projects are in use within the official Wix App! You can download the Wix App from the <a href="https://itunes.apple.com/il/app/wix.com/id1099748482?mt=8">App Store</a> And <a href="https://play.google.com/store/apps/details?id=com.wix.android&hl=en">Google Play</a>.
    </p>
  </div>
  <div class="declerative-image-container">
    <img id="iphone-frame" src="https://static.wixstatic.com/media/713b90_b83234f06be34b51af5e7b5a87dfdc1a~mv2.png/v1/fill/w_243,h_417,al_c,usm_0.66_1.00_0.01/713b90_b83234f06be34b51af5e7b5a87dfdc1a~mv2.png" />
    <video class="declerative-image" height=320 width=180 autoplay muted loop>
      <source src="{{ ASSET_PATH }}/components/images/declerative/oneapp-navigation-movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- <img class="declerative-image" src="{{ ASSET_PATH }}/images/demo.gif" /> -->
    <a href="https://itunes.apple.com/il/app/wix.com/id1099748482?mt=8" target="_blank" ><img class="wix-app-icon" src="{{ ASSET_PATH }}/components/images/declerative/wix-app-icon.png" /></a>

  </div>
</div>
