<div class="preview-section">
  <div class="declerative-text">
    <h3>A Fully Production Open Source Projects</h3>
    <p>
      All of our open source projects are in use within the official Wix App! You can download the Wix App from the <a href="https://itunes.apple.com/il/app/wix.com/id1099748482?mt=8">App Store</a> And <a href="https://play.google.com/store/apps/details?id=com.wix.android&hl=en">Google Play</a>.
    </p>
  </div>
  <div class="declerative-image-container">
    <img id="iphone-frame" src="assets/themes/bootstrap-3/images/iphone-mock.png" />
    <video class="declerative-image" height=320 width=180 autoplay muted loop>
      <source src="{{ ASSET_PATH }}/components/images/declerative/oneapp-navigation-movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- <img class="declerative-image" src="{{ ASSET_PATH }}/images/demo.gif" /> -->
    <a href="https://itunes.apple.com/il/app/wix.com/id1099748482?mt=8" target="_blank" ><img class="wix-app-icon" src="{{ ASSET_PATH }}/components/images/declerative/wix-app-icon.png" /></a>

  </div>
</div>
