<div id="projects-container">
  <div class="project-section">
      <img src="{{ ASSET_PATH }}/images/projects/navigation.png" />
      <h4>Navigation</h4>
      100% Native Navigation
  </div>
  <div class="project-section">
      <img src="{{ ASSET_PATH }}/images/projects/camera.png" />
      <h4>Camera-Kit</h4>
      Advanced native camera control
  </div>
  <div class="project-section">
      <img src="{{ ASSET_PATH }}/images/projects/notifications.png" />
      <h4>Notfications</h4>
      App push nottifications
  </div>
  <div class="project-section">
      <img src="{{ ASSET_PATH }}/images/projects/editor.png" />
      <h4>Rich Text Editor</h4>
      React Native Wrapper for WordPress Rich Text Editor
  </div>
</div>
