<script src="react/build/react.js"></script>
<script src="react/build/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

{% for preview in site.projects_preview %}
  <div class="preview-section">
    <div id="preview-content">
      <a href={{preview.link.url}} target="_blank"><h3>{{preview.title}}</h3></a>
      <p>{{preview.content}}</p>
      <a href={{preview.link.url}} target="_blank">{{preview.link.title}} ></a>
    </div>
    <div id="previewImage_{{ preview.id}}" class="preview-image">

    </div>

  </div>
  <img class="buffer" src="{{ ASSET_PATH }}/images/buffer.png" />

  <script type="text/babel">
    const styles = {
      container: {
        display: 'inline-block',
        flexWrap: 'wrap',
      },

      buttonsContainer: {
        display: 'flex',
        flexDirection: 'column',
        float: 'right',
      },

      button: {
        height: 20,
        margin: 12,
        marginBottom: 3,
        marginTop: 3,

      },

      image: {
        width: 207,

      }
    }

    // Define React Component
    class Preview extends React.Component {

      constructor(props) {
        super(props);
        this.state = {
          selectedSegment: props.segments[0]
        }
      }

      render() {
        return (
          <div style={styles.container}>
            <a href="{{ preview.link.url }}" target="_blank"><img style={styles.image} src={this.state.selectedSegment.previewImage} /></a>
            <div style={styles.buttonsContainer}>
              {
                _.map(this.props.segments, (segment) => {
                  return (
                    <img key={segment.key} style={styles.button} src={segment.button} onClick={() => {
                      this.setState({
                        selectedSegment: segment
                      })
                    }} />
                  )
                })
              }
            </div>
          </div>
        );
      }
    }

    // Mount React Component (which uses WebComponent which uses React)
    const containerId = 'previewImage_{{ preview.id }}';
    var container = document.getElementById(containerId);
    const segments = [
      {
        key: 'iOS',
        button: "{{ ASSET_PATH }}/images/common-apple-icon.png",
        previewImage: "{{ preview.images.ios }}",
      },
      {
        key: 'Android',
        button: "{{ ASSET_PATH }}/images/common-android-icon.png",
        previewImage: "{{ preview.images.android }}",
      }
    ];
    ReactDOM.render(<Preview segments={segments}/>, container);

  </script>
{% endfor %}
