<div id="projects-container">

</div>

<script type="text/babel">
  class Project extends React.Component {
    constructor(props) {
      super(props);
    }

    handleLinkClicked(link) {
      console.log("Hello");
      $('html, body').animate({
        scrollTop: $(link).offset().top-50
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = link;
      });
    }

    render() {
      return (
        <a href="javascript:void()"><div style={styles.projectSection} onClick={() => this.handleLinkClicked.bind(this)(this.props.project.link)}>
            <HoverImage style={styles.projectImage} image={this.props.project.image} hover={this.props.project.hoverImage} />
            <h4>{this.props.project.title}</h4>
            <p>{this.props.project.content}</p>
        </div></a>
      );
    }
  }

  class HoverImage extends React.Component {
    constructor(props) {
      super(props);

      this.state = {
        hover: false,
      };
    }

    mouseOver() {
      this.setState({
        hover: true,
      });
    }

    mouseOut() {
      this.setState({
        hover: false,
      });
    }

    render() {
      return (
        <div style={this.props.style} onMouseEnter={this.mouseOver.bind(this)} onMouseLeave={this.mouseOut.bind(this)}>
          <img src={this.state.hover ? this.props.hover : this.props.image} />
        </div>
      );
    }
  }

  class Projects extends React.Component {
    constructor(props) {
      super(props);
    }

    render() {
      return (
        <div style={styles.projects}>
          {_.map(this.props.projects, (project) => {
            return (<Project key={project.title} project={project} />)
          })}
        </div>
      )
    }
  }

  const styles = {
    projects: {
      display: 'flex',
      flexWrap: 'wrap',
      flexDirection: 'row',
    },
    projectSection: {
      margin: 20,
      alignIitems: 'center',

      width: 110,
    },
    projectImage: {
      marginBottom: 20,
    }
  }

  const containerId = 'projects-container';
  var container = document.getElementById(containerId);
  const projects = [
    {
      title: "Navigation",
      content: "100% Native Navigation",
      link: "#preview-section_0",
      image: "{{ ASSET_PATH }}/components/images/projects/navigation.png",
      hoverImage: "{{ ASSET_PATH }}/components/images/projects/navigation_hover.png",
    },
    {
      title: "Camera-Kit",
      content: "Advanced native camera control",
      link: "#preview-section_1",
      image: "{{ ASSET_PATH }}/components/images/projects/camera.png",
      hoverImage: "{{ ASSET_PATH }}/components/images/projects/camera_hover.png",
    },
    {
      title: "Notifications",
      content: "App push notifications",
      link: "#preview-section_2",
      image: "{{ ASSET_PATH }}/components/images/projects/notifications.png",
      hoverImage: "{{ ASSET_PATH }}/components/images/projects/notifications_hover.png",
    },
    {
      title: "Detox",
      content: "E2E tests and automation",
      link: "#preview-section_3",
      image: "{{ ASSET_PATH }}/components/images/projects/editor.png",
      hoverImage: "{{ ASSET_PATH }}/components/images/projects/editor_hover.png",
    }
  ];
  ReactDOM.render(<Projects projects={projects}/>, container);

</script>
