<div id="projects-container">
  <div class="project-section">
      <img class="first-preview-image" />
      <h4>Navigation</h4>
      100% Native Navigation
  </div>
  <div class="project-section">
      <img class="second-preview-image" />
      <h4>Camera-Kit</h4>
      Advanced native camera control
  </div>
  <div class="project-section">
      <img class="third-preview-image" />
      <h4>Notfications</h4>
      App push nottifications
  </div>
  <div class="project-section">
      <img class="fourth-preview-image" />
      <h4>Rich Text Editor</h4>
      React Native Wrapper for WordPress Rich Text Editor
  </div>
</div>
