{% for preview in site.projects_preview %}
  <div class="preview-section">
    <div id="preview-content">
      <a href={{preview.link.url}} target="_blank"><h3>{{preview.title}}</h3></a>
      <p>{{preview.content}}</p>
      <a href={{preview.link.url}} target="_blank">{{preview.link.title}} ></a>
    </div>
    <div class="preview-image">
        <a href={{preview.link.url}} target="_blank"><img style="width: 207px; height: auto;" src={{preview.image}} /></a>
    </div>

  </div>
  <img src="{{ ASSET_PATH }}/images/buffer.png" />

{% endfor %}
