body {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    font-family: 'Helvetica Neue';
}
a {
    text-decoration: none;
}

header {
    padding-left: 15px;
    padding-top: 10px;
}

@media screen and (max-width: 700px) { 
   header {
    width: 50%;
    margin-left:25%;
    }     
}
@media screen and (min-width: 700px) and (max-width: 1270px) { 
   header {
    width: 700px;
    margin: 10px auto;
    }     
}
@media screen and (min-width: 1270px) { 
   header {
    width: 1256px;
    margin: 10px auto;
    }     
}

/* <---- Header ---> */
.wix-page-header {
	color: #ffffff;
	background-color: rgb(25,48,62);
	height: 20%;
    background-image: url('./img/space.jpeg');
	background-attachment: fixed;
    width: 100%;
    
}
	@media screen and (min-width: 700px) {
		.wix-page-header {
			padding-top: 1rem;
			padding-bottom: 1rem; } 
        .header-title-container {
             /*text-align: center;*/
             width:64%;
             margin-left: 18%;
             padding-left: 15px;
            text-align: center;
         }   
    }

	@media screen and (min-width: 700px) and (max-width: 1270px) {
		.wix-page-header {
			padding: 3rem 4rem; } }
	@media screen and (max-width: 700px) {
		.wix-page-header {
			padding: 2rem 1rem; } 
        .header-title-container {
             width: 100%;
         }    
    }

.top-title {
	font-family: 'HelveticaNeueW01-UltLt';
	font-size: 84px;
	margin-top: 72px;
	letter-spacing: 3px;
	font-weight: 100;
}

.project-tagline {
	font-family: 'HelveticaNeueW01-UltLt' ,sans-serif;
	font-size: 24px;
	font-weight: 100;
	margin-top: 40px;
    line-height: 1.9;
    padding-bottom: 20px;
	letter-spacing: 3px;
}

    @media screen and (max-width: 700px) { 
        .main-logo {
            width:90%; 
        } 
        .top-title {
            width: 90%;
            margin-left: 5%;
            text-align: center;
            font-size: 30px;
        }
        .project-tagline {
            width: 90%;
            font-size: 20px;
            margin-left: 5%;
            text-align: center;
        } 
    }



/* <---- Projects ---> */

.projects-container {
    padding : 10px;
    margin-top: 0;
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    @media screen and (max-width: 700px) {
    .projects-container {
    width: 100%;
    }}
    @media screen and (min-width: 700px) and (max-width: 1270px) {
        .projects-container {
            justify-content: center;
        }
    }
    @media screen and (min-width: 1270px) {
		.projects-container {
			width: 1256px;
            margin: 0 auto; } }

.project {
    background-color: rgba(249, 247, 247, 0.62); 
    display: flex; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
    border: solid 1px #dbdbdb ;
    vertical-align: top; 
    padding: 24px;
    padding-right: 0; 
    margin-top: 30px;
    margin-bottom: 30px; 
    flex-wrap: wrap;
    width: 47%;
    
}

.big-project{
    background-color: rgba(249, 247, 247, 0.62); 
    display: flex; 
    vertical-align: top; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
    border: solid 1px #dbdbdb ;
    padding: 24px;
    padding-right: 0; 
    margin-top: 30px; 
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.project:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
}

.big-project:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1
}
.big-project-video-div {
    width: 80%;
    height: 417px;
    margin: 0 auto;
    background: url('./img/macbook.png') no-repeat top transparent;
    background-size: 100%;
}
    @media screen and (max-width: 700px) {
        .project {
        width: 100%;
        padding: 16px 16px;
        justify-content: center;
        
        } 
        .big-project{
            justify-content: center;
            padding: 16px 16px;
            width: 100%;
        }
        .big-project-video-div {
            width: 320px;
            height: 200px;
            margin: 0 auto;
        }}
        
    @media screen and (min-width: 700px) and (max-width: 1270px) {
        .project {
            width: 700px;
            margin: 15px auto;
        }
        .big-project-video-div {
            height: 295px;
            width: 480px;
            margin: 0 auto;
        }
        .big-project {
            width: 700px;
        }
    }

.project-text-container{
    width: 50%;
}

.project-demoapp-links-container{
    display: flex;
    flex-wrap: wrap;
    
}
.project-demoapp-link {
    margin-right: 5px;
}
.project-demoapp-img{
    width: 110px;
}
.project-icons-container {
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-description {
    font-family: 'HelveticaNeueW01-45Ligh';
}

.project-image-container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}


    @media screen and (min-width: 700px) {
		
        .project-text-container{
             width: 45%;
             display: flex;
             flex-direction: column;
             
            }
        .project-media-container{ 
            width: 50%;
            flex-direction: row-reverse;
            }
             
       .project-demoapp-links-container{
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
            }
        .big-project-text-container{
            width: 30%;
        }
        .big-project-media-container {
            width: 70%;
        }
        .project-video-div {
            float: right;
            margin-right: -25px;
            }
        }
        /*.project-github-link {
            display: block;
            margin-top: 20px;
            color: wheat;
            background-color: rgb(143,93,193);
            vertical-align: middle;
            width: 80%;
            border-radius: 20px;
            text-align: center;
        }*/
        .project-icons-container {
            width: 20px;
            display: flex;
            height: 417px;
            flex-direction: column;
            justify-content: flex-end;
            float: right;
            }
        .project-demoapp-link {
            margin-right: 5px;
            margin-top: 3px;
            width: 100%;
        }
        .project-title {
            margin-top: 0;
        }
        .project-description {
            
        }
        .apple-icon {
            cursor: pointer;
            width: 30px;
            
        }
        .android-icon {
            cursor: pointer;
            width: 30px;
            margin-top: 5px;
        }
        
    @media screen and (min-width: 700px) and (max-width: 1270px) {
        .project-icons-container {
            width: 20px;
            float: right;
            }
    }

    @media screen and (max-width: 700px) {
        .project-text-container{
            width: 100%;
        }
        .project-media-container {
            
        }
        .project-image-container{
          width: 100%;
          justify-content: center;
          margin-top: 15px;
          margin-bottom: 10px;
        }
        .project-icons-container {
            margin-left: 35%;
            width:30%;
            margin-top: auto;
            float: none;
            height: auto;
            flex-direction: row;
            padding: 5px;
        }
        .project-demoapp-links-container{
            flex-wrap: wrap;
            width: 400px;
            justify-content: center;
            margin-top: auto;   
        }
        .project-demoapp-link {
             width: auto;
        }
        .project-video-div {
        margin-top: 15px;
        margin-bottom: 10px;
        }
        .apple-icon {
            cursor: pointer;
            width: 30px;
            flex: 1;
        }

        .android-icon {
            cursor: pointer;
            width: 30px;
            flex: 1;
        }
        .download-demo-title-container {
            width:100%;
        }
        .download-demo-title {
            text-align: center;
            font-family: 'HelveticaNeueW01-45Ligh';
        }
}
.project-title {
    font-family: 'Helvetica Neue';
    letter-spacing: 2px;
    font-size: 30px;
}

.project-github-link {
  width: 97px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 21px;
  border: solid 1px #733ca6;
  height: 36px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  color: #733ca6;
}


.project-github-link:hover {
    width: 97px;
    height: 36px;
    border-radius: 21px;
    background-color: #733ca6;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}
@media screen and (max-width: 700px) {
    .project-title {
        text-align: center;
        font-size: 24px;
    }

    .project-description {
        text-align: center;
        margin-top: auto;
    }

    .project-github-link{
        text-align: center;
        margin: 15px auto;
    }
}



.iphone-mock-img {
    background-image: url("./img/iphone-mock.png");
}

.android-mock-img {
    background-image: url("./img/iphonesvg.svg");
}


.download-demo-title {
    display: block;
    font-family: 'HelveticaNeueW01-45Ligh';
}

.project-video-iphone {
    position: relative;
    top: 53px;
    left: 32px;
}
.project-video-android {
    position: relative;
    top: 53px;
    left: 32px;
}
.big-project-video {
    position: relative;
    top: 3.25%;
    left: 12%;
    height: 81.25%;
    width: 76.1%;
}


/*<---- Footer ---> */

.footer {
    border-top: 1px solid;
    color: rgb(223,226,229);
    margin-top: 30px; 
}

.footer-container {
    align-items: center;
    display: block;
    margin: auto;
    
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width:700px) {

}
@media screen and (min-width:700px) and (max-width:1270px) {
    
}
@media screen and  (min-width:1270px) {
    .footer-container {
        width: 1256px;
    }
}
.wix-footer {
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: row; /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
	align-items: center;

	flex-wrap: wrap;

	margin: 10px;
	padding-top: 70px;
	padding-bottom: 70px;
}

.wix-footer .subscribe-button {
	border: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 30px;
	text-align: center;
	padding: 8px;
	color: grey;
	width: 130px;
	align-items: center;
    text-decoration: none;

	-webkit-transition: background-color, color 1s ease-out;
	-moz-transition: background-color, color 1s ease-out;
	-o-transition: background-color, color 1s ease-out;
	transition: background-color, color 1s ease-out;
}

.wix-footer .subscribe-button:hover {
	color: #733CA6;
	border-color: #733CA6;
    text-decoration: none;
    
}
.wix-footer .subscribe-button-link:hover{
    text-decoration: none;
}

.wix-footer .footer-links-container {
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: row; /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px;
	margin-top: 5px;
	margin-bottom: 5px;

	flex: 1;
}

.links-list {
	list-style-type: none;
	margin: 30px;
}

.links-list a {
	color: black;
}

.links-list a:hover {
	color: #733CA6
}

.wix-footer .subscribe-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 0.5;
}

.wix-footer p {
	margin-top: 10px;
	color: black;
	opacity: 100%;
}

.wix-footer .email-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
}
@media screen and (max-width:1260px) {
    .wix-footer {
        padding-top:20px;
        padding-bottom: 20px;
    }
    .wix-footer .subscribe-container {
        display: none;
        }
    .wix-footer .footer-links-container {
        display: none;
    }
    .links-list {
	list-style-type: none;
	margin: 0px;
    text-align: center;
    }
    .wix-footer .email-container {
	text-align: center;
    }
    
}
@media screen and (max-width:1260px) and (min-width: 700px) {
    .wix-footer .email-container {
        width: 500px;
        margin: 0 auto;
        flex: none;
    }
}



